.DS_Store

node_modules/
yarn-error.log
yarn.lock

assets/css/
appventure-website.exe

/.idea/

/api/.gitattributes
/api/.gitignore
/api/*.md
/api/LICENSE
/api/*.db
/api/deployment
/api/docs
/api/examples
/api/ponzu-banner.png
/api/ponzu-server.exe
/api/uploads
/api/search
