{{ template "header.html" . }}

<main class="page projects">
	<header>
		<h1>Projects</h1>
		<p>
			Student made projects that improve the quality of life of those in school as well as the community
		</p>
	</header>
	<p>{{ printf "%#v" . }}</p>
	{{ range .Items }}
	<a class="project" href="/projects/{{ unslug .Slug }}">
		<img src="{{ size "128" .Displayimage }}" />
		<div>
			<h2>{{ .Name }}</h2>
			<div class="summary">
				{{ html .SummaryASD }}
			</div>
			<p class="authors">By {{ andify .Authors }}</p>
		</div>
	</a>
	{{ else }}
	<div class="project center">
		<h2>No projects published</h2>
	</div>
	{{ end }}
</main>
{{ template "footer.html" . }}