{{ template "header.html" . }}

<main>
	<h2>Projects</h2>
	<p>Student made projects that improve the quality of life of those in school as well as the community</p>
	{{template "filterbar.html"}}
	<ul class="gallery">
		{{ range .Items }}
		<a href="/projects/{{ unslug .Slug }}">
			<li class="gallery-item" data-filterable="tags" data-tags="{{ range .Platforms }}{{ . }},{{ end }}{{ range .Year }}{{ . }},{{ end }}{{ .Type }}">
				<img class="icon" src="{{ size "128" .Icon }}" />
				<div class="text">
					<h6>{{ .Name }}</h6>
					<p>{{ andify .Authors }}</p>
				</div>
				<div class="cover">
					<p>{{ html .Description }}</p>
				</div>
			</li>
		</a>
		{{ end }}
	</ul>
</main>

<script src="/assets/js/filter.js"></script>
<script src="/assets/js/filterbar.js"></script>
<script>
	document.addEventListener("DOMContentLoaded", function() {
		var fb = new FilterBar(".filterbar", ".gallery");
	});
</script>

{{ template "footer.html" . }}