.jumbo {
  padding: 4rem;
  color: palette(jumbo-text);

  position: relative;

  //.mask,
  img,
  svg {
    position: absolute;
    right: 0;
    height: 45rem;
    margin-right: -2rem;
    bottom: 6%;
  }

  //.mask { // Fade image on the left.
  //	background: linear-gradient(90deg, $theme-color, rgba($theme-color, 0.5), rgba($theme-color, 0), rgba($theme-color, 0));
  //}

  .btn.fa {
    padding: 10px;
    font-size: 26px;
    width: 56px;
    text-align: center;
    margin: 0px 10px 0px 0px;
    border-radius: 50%;
  }

  .text {
    padding: 4rem 0 4rem 0;
    @include font-size(medium);
    z-index: 2;
    .links{
      margin: 0.5em 0;
    }
  }

  .row {
    margin: 10em 0 0 0;
  }
}

.jumbo-wrapper {
  background-color: palette(jumbo-background);
  overflow: hidden;
}
