$link-spacing: 0.4em;

.links {
  margin: 0 -$link-spacing;

  .link {
    display: inline;
  }

  a {
    display: inline-block;
    padding-left: $link-spacing;
    padding-right: $link-spacing;
  }
}

.navigation {
  padding: 2rem-1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: palette(nav-text);
  @include link(nav);

  .brand {
    flex: 1 auto;
    text-align: left;
    margin: 0.6rem 0;
    margin-right: 2rem;
  }

  .links {
    flex: 1 auto;
    text-align: right;
    display: inline-block; // ie9

    a {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  &.invert {
    color: palette(nav-invert-text);
    @include link(nav-invert);
  }

  .menu {
    display: none;
  }

  @media screen and (max-width: 480px) {
    .menu {
      display: block;
      background: none;
      appearance: none;
      outline: none;
      border: none;
      font-size: 24px;
      width: 1em;
      height: 1em;
      color: inherit;

      &:checked + .links {
        height: 41px;
        pointer-events: auto;
      }
    }

    .links {
      width: 100%;
      height: 12px;
      overflow: hidden;
      transition: 0.4s height;
      pointer-events: none;
    }
  }
}

.navigation-wrapper {
  @include border-bottom-hairline(palette(seprator));

  // position: sticky; // TODO: Enable after fixing issue #15
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: palette(nav-background);

  &.over {
    border-bottom-color: palette(seprator-invert);
    background-color: palette(nav-invert-background);
  }
}
